<div class="container-fluid  no-gutters ">
  <div class="row bg-light-color padding-y-small padding-x-big">
    
    
    <div class="col-md-auto add-font-small ml-lg-auto">
      <div class="row no-gutters">
        <div class="col-auto align-self-end">
          <p class="navbar__sign-in__p">
            <i class="fas fa-user-alt navbar__sign-in__user"></i>
          </p>
        </div>
        <div
          class="col-auto ml-3 align-self-center navbar__sign-in__text"
          align="center"
        >
          <p>
            <a [routerLink]="'Login'">Sign In</a> /
            <a [routerLink]="'Register'">Register</a>
          </p>
        </div>
      </div>
    </div>
    
  </div>
</div>
