<!-- <link rel="stylesheet" type="text/css" media="screen" href="node_modules/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="myCss/style.css" /> -->
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>


<!-- footer -->
<div class="container-fluid no-gutters footer mt-5">
  <div class="row footer-row my-5  m-auto justify-content-center footer-font">
    <div class="col-md-3 text-left  my-5 ">
      <div>
        <img
          src="../../../../assets/images/logooooo.png"
          alt="girl"
          class="mt-3 footer-logo text-center"
        /><span class="logo-name add-Green"> WePets</span>
      </div>

      <p class="footer-font" style="color: white">
        We provide everything pets need to live a happy and healthy life.
      </p>
      
    </div>
    <div class="col-md-2 text-left  my-5">
      <div class="footer-border one mt-2 text-left add-Green"></div>
      <div class="footer-border two mb-2 mt-1 text-left add-Green"></div>
     

      
    </div>
    <div class="col-md-4 text-left   my-5 ">
      
      <div class="footer-border one mt-2 text-left "></div>
      <div class="footer-border two mb-2 mt-1 text-left"></div>
      <div class="row text-left">
       
        
      </div>
     
      
    </div>
    <div class="col-md-3 text-left  my-5 ">
      <div class="row ">
        <div class="col-md-12">
          <div class="footer-border one mt-2 text-left "></div>
          <div class="footer-border two mb-2 mt-1 text-left"></div>

        </div>
      </div>
    </div>
  </div>
  
</div>
